@model GarmentSoft.Models.Company

<div class="row" style="text-align: right;">
    <strong>Mobile: @Model.Mobile</strong>
</div>
<div style="text-align: center; font-family: 'Times New Roman', Times, serif">
    <div class="row">
        <h1 style="font-size: 4em;">@Model.Name</h1>
    </div>
    <div class="row">
        <h4>Manufactureres & Wholesale Dealer of: KURTI'S, PATIYALA'S & DRESS MATERIALS</h4>
        <h4 style="padding: 5px 0; border-top: 1px solid #000; border-bottom: 1px solid #000;">@Model.Address</h4>
    </div>
</div>
