@model GarmentSoft.Models.DashboardVM

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-bottom-10">
    <div class="dashboard-stat blue">
        <div class="visual">
            <i class="fa fa-briefcase fa-icon-medium"></i>
        </div>
        <div class="details">
            <div class="number"> Rs @( Model.totalSales ) </div>
            <div class="desc"> Total Sales</div>
        </div>
        <a class="more" href="javascript:;">
            View more
            <i class="fa fa-arrow-right"></i>
        </a>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="dashboard-stat red">
        <div class="visual">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="details">
            <div class="number">
                Rs @( (Model.totalPurchases.HasValue) ? Model.totalPurchases.Value : 0)
            </div>
            <div class="desc"> Total Purchases </div>
        </div>
        <a class="more" href="javascript:;">
            View more
            <i class="fa fa-arrow-right"></i>
        </a>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="dashboard-stat green">
        <div class="visual">
            <i class="fa fa-group fa-icon-medium"></i>
        </div>
        <div class="details">
            <div class="number"> Rs @( Model.totalExpenses ) </div>
            <div class="desc"> Total Expenses</div>
        </div>
        <a class="more" href="javascript:;">
            View more
            <i class="fa fa-arrow-right"></i>
        </a>
    </div>
</div>
